# DB configuration
POSTGRES_USER="admin"
POSTGRES_PASSWORD="password"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="mydb"

# Render DB
RENDER_EXTERNAL_DATABASE_URL="postgresql://admin:password@postgress/mydb"

# API configuration
PORT="8080"

# Server configuration
BASE_URL="http://localhost:8080"